body {
    font-family:arial,
    verdana,
    sans-serif;
}

p {font-size:90%;
     color:#333333;}

#bar {

    border-bottom: solid;
    border-width:2px;
    border-color:#000000;
}

#bar a {
    color:#3399cc;
    text-decoration:none;
    border-top: solid;
    border-width:2px;
    border-bottom-color: #000000;
    border-color:#FFFFFF;
    padding:10px;
}

#app{
    height: 100%;
    width: 100%;
}


.toggleContainer .toggleOption {

    height: 35px !important;
    line-height: 35px!important;
    padding-right: 25px !important;
    padding-left: 25px !important;
}


.toggleContainer .toggle {
  background: #3399cc!important;
}

.j-day{
  font-weight: bold !important;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}
